{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="animated fadeIn">

            <div class="ui-typography">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="custom-tab">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link" id="custom-nav-home-tab" data-toggle="tab"
                                               href="#custom-nav-home" role="tab" aria-controls="custom-nav-home"
                                               aria-selected="false">基本信息</a>
                                            <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab"
                                               href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile"
                                               aria-selected="false">任务</a>
                                            <a class="nav-item nav-link active show" id="custom-nav-contact-tab"
                                               data-toggle="tab" href="#custom-nav-contact" role="tab"
                                               aria-controls="custom-nav-contact" aria-selected="true">通话</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                        <div class="tab-pane fade" id="custom-nav-home" role="tabpanel"
                                             aria-labelledby="custom-nav-home-tab">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="row form-group">
                                                        <div class="col col-md-3">
                                                            <label class=" form-control-label">线索拥有者:</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.owner }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3">
                                                            <label class=" form-control-label">公司名称:</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.company }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3">
                                                            <label class=" form-control-label">联系人名称:</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.contact_name }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3">
                                                            <label class=" form-control-label">职位:</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.designation }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3">
                                                            <label class=" form-control-label">电话:</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.phone }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3">
                                                            <label class=" form-control-label">手机:</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.cellphone }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3">
                                                            <label class=" form-control-label">邮箱:</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.email }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label class=" form-control-label">线索来源</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.get_source_display }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label class=" form-control-label">线索状态</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.get_state_display }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label
                                                                class=" form-control-label">行业</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.industry }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label
                                                                class=" form-control-label">员工数</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.num }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label
                                                                class=" form-control-label">网站</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.website }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label
                                                                class=" form-control-label">年收入</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.annual_revenue }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label class=" form-control-label">详细地址</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <p class="form-control-static">{{ leads_obj.address }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel"
                                             aria-labelledby="custom-nav-profile-tab">
                                            <div class="card-content">
                                                <div class="todo-list">
                                                    <div class="tdl-holder">
                                                        <div class="tdl-content">
                                                            <ul>{% for tasks_obj in tasks_obj_list %}
                                                                <li>
                                                                    <label>
                                                                        <input type="checkbox"><i class="check-box"></i>
                                                                        <span>{{ tasks_obj.subject }}</span>
                                                                        <a href="#" class="fa fa-times"></a>
                                                                        <a href="{% url 'leads_tasks_edit' tasks_obj.id %}"
                                                                           class="fa fa-pencil"></a>
                                                                        <a href="#" class="fa fa-check"></a>
                                                                    </label>
                                                                </li>
                                                            {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div> <!-- /.todo-list -->
                                            </div>
                                        </div>
                                        <div class="tab-pane fade active show" id="custom-nav-contact" role="tabpanel"
                                             aria-labelledby="custom-nav-contact-tab">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="alert alert-dismissible" role="alert">
                                                        <button class="btn btn-outline-secondary"
                                                                style="position: absolute; right: 80px; top: 20px;"
                                                                data-toggle="modal" data-target="#staticModal"
                                                                type="button">
                                                            添加记录
                                                        </button>
                                                        {% for call_obj in call_obj_list %}
                                                            <h4 class="alert-heading">
                                                                <div class="avatar">
                                                                    <img src="{% static 'images/avatar/64-1.jpg' %}">
                                                                    {{ call_obj.leads.owner.username }}
                                                                    <div class="send-time">2019-1-12 19:00</div>
                                                                </div>

                                                            </h4>

                                                            <p>{{ call_obj.content }}</p>
                                                            <hr>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="staticModal" tabindex="-1"
                             role="dialog" aria-labelledby="staticModalLabel"
                             style="display: none;">
                            <div class="modal-dialog modal-lg" role="document">
                                <form method="post" class="modal-content">{% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticModalLabel">新增记录</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            {% for form in form_obj %}
                                                <div class="col col-md-3"><label
                                                        class=" form-control-label">{{ form.label }}:</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <p class="form-control-static">{{ form }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn btn-primary">提交
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div><!-- .animated -->
    </div>
{% endblock %}